@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Lato:ital,wght@0,400;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{
    background-color: rgb(12, 2, 2);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    background-position: center center;
}

.hero-text h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(12, 2, 2);
}

.hero-text h4{
    font-style: 'Lato' , sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(12, 2, 2);
}

.header{
    padding: 2rem;
}

.logo{
    display: flex;
    height: 75px;
}


.menu{
    font-family: 'Lato' , sans-serif , cursive;
    display: flex;
    align-self: center;
    list-style-type: none;
    padding: 0.6rem;
}

.menu li a{
    display: flex;
    color: white;
    padding-top: 20%;
    margin-left: 80px;
    margin-right: 100px;
    font-weight: bold;
    text-decoration: none;
}

.hero-text{
    font-family: 'Lato', sans-serif;
    font-size: 2.9rem;
    align-self: center;
    text-align: center;
    color:white;
    font-weight: bold;
}


.Text{
    display: flex;
    flex-direction: column;
    align-items: center center;
    padding: 1.5rem;
    background-color: rgb(12, 2, 2);
}

.Text-1{
    font-family: 'Lato' , sans-serif , cursive;
    font-size: 2.7rem;
    font-weight: bolder;
    color: rgb(230, 226, 226);
    margin-top: 5%;
}

.Text-2{
    font-family: 'Lato' , sans-serif ,cursive;
    font-size: 1.5rem;
    color: rgb(230, 226, 226);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 20px;
    background-color: black;
    text-align: center
    ;
}

.nike{
    display: flex;
    width:fit-content;
    height: 100px;
}

.pie-1{
    display: flex;
    margin-top: 3%;
    color: aliceblue;
}

.pie-2{
    display: flex;
    margin-top: 3%;
    color: aliceblue;
}

.contacto{
    background-color: rgb(12, 2, 2);
    padding: 80px 20px 80px 20px;
    flex-direction: column;
}

.contacto__texto{
    font-family: 'Lato', sans-serif, cursive;
    font-size: 1.5rem;
    text-align: center;
    color: aliceblue;
    margin-bottom: 10%;
}

.form__checkBoxes{
    color: whitesmoke;
}

.btn.btn-secondary{
    display: block;
    background-color: darkslategray;
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

button.btn.btn-secondary.form__sendButton {
    margin-left: inherit;
    background-color: darkslategray;
}

button.btn.btn-secondary.form__resetButton {
    margin-left: inherit;
    background-color: darkslategrey;
}

.slider-frame{
    width: 900px;
    height: 750px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 800px;
    height: 700px;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}


.b-PTA{
    color: yellow;
}

.tarjetitas{
    display: flex;
    padding: 60px;
    gap: 30px;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}


.informacion{
    padding: 0 20px 20px 20px;
}


.metodo_4x4{
   background-color: rgb(12, 2, 2);
}

.metodo__texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Lato' , sans-serif ,cursive;
    font-size: 1.5rem;
    color: rgb(230, 226, 226);
    padding: 50px 80px 2px 80px;
}

.tarjetita__imagen{
    width: 22%;
    height: 222px;
    align-self: center;
    margin-top: 20px;
    border: 6px solid rgb(230, 230, 33);
}

.tarjetita1{
    flex: 2;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 6px solid yellow
}

.tarjetita2{
    flex: 2;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 6px solid yellow
}

.tarjetita3{
    flex: 2;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 6px solid yellow
}

.tarjetita4{
    flex: 2;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 6px solid yellow
}

.tarjetita__texto{
    color: antiquewhite;
}


.instalaciones{
    display: flex;
    font-family: 'Lato' , sans-serif , cursive;
    flex-direction: column;
    align-items: center center;
    text-align: center;
    padding: 1.5rem;
    color: aliceblue;
    font-size: 1.5rem;
    background-color: rgb(12, 2, 2);
}

.instalaciones__all{
    background-color: rgb(12, 2, 2);
    padding-bottom: 15%;
    padding-top: 5%;
}

.container__all{
    width: 100%;
    max-width: 1000px;
    padding: 100px;
    background-color: black;
    margin-left: 13%;
    border: 6px solid yellow

}

.container__all img{
    width: 350px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 6px solid yellow;
}

.container__all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    color: antiquewhite;
}


.container__titulo{
    font-family: 'Lato', sans-serif, cursive;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 380px;
    color: aliceblue;
}

.container1 img{
    float: left;
}

.container2 img{
    float: right;
}

.container3 img{
    float: left;
}

.container4 img{
    float: right;
}

.container5 img{
    float: left;
}

.container1{
    padding-bottom: 80px;
}

.container2{
    padding-bottom: 60px;
}

.container3{
    padding-bottom: 70px;
}

.container4{
    padding-bottom: 90px;
}

.container5{
    padding-bottom: 70px;
}

.container1 h1{
    margin-left: 58%;
    font-weight: bolder;
}

.container2 h1{
    margin-left: 12%;
    font-weight: bolder;
}

.container3 h1{
   margin-left: 65%;
   font-weight: bolder;
}

.container4 h1{
    margin-left: 12%;
    font-weight: bolder;
}

.container5 h1{
    margin-left: 45%;
    text-align: center;
    font-weight: bolder;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}


@media screen and (max-width:867px) {
    .navbar-toggler{
        margin-left: auto;
    }

    .tarjetita__imagen{
        width: auto;
    }

    .container__all{
        width: auto;
        margin-right: 80px;
    }

    .container1 img{
        float: none;
    }

    .container2 img{
        float: none;
        }

    .container3 img{
        float: none;
        }

    .container4 img{
        float: none;
        }

    .container5 img{
        float: none;
        }

    
     .container1 .container__titulo{
        margin-left: auto;
    }

    .container2 .container__titulo{
        margin-left: auto;
    }

    .container3 .container__titulo{
        margin-left: auto;
    }

    .container4 .container__titulo{
        margin-left: auto;
    }

    .container5 .container__titulo{
        margin-left: auto;
        margin-right: 170px;
        
    }

    .navbar-nav{
        align-items: end;
        margin-left: 75%;
    }

}
